.img { margin-left:10%;
    margin-top:30%; }

.text { margin-top:5%; }

p { 
    font-family: Times New Roman, Helvetica, serif;       
      font-size:1.2em;    
      text-align:justify;
      padding:3px; }
    


.text2 { margin-top:5%; }
 
.imagem-logo { 
               margin-top: 5%;
               padding:0% 5% 5% 5%;}

/*nav a { text-align:center;
      margin-top:5%; 
      border:solid 1px;
      padding: 5px;} */

.título { text-align:center;
          color:#bf190a; }

.imagem-apresent { height: 40%;
                   width: 100%; }

.apresent { margin-top: 5%;}

                
.imagem_pequena { height: 15%;
                  width: 100%;}

.imagem_pequena2 { height: 16.4%;
                   width: 130%;
                   margin-bottom: 30%;  }

.img_peq {margin-top: 24%;}

.img_peq_1 {margin-top: 18%;} 
                   
 .grande { margin-top: 15%;
           height: 60%; }

.pequena { margin-top: 5%; }

.text_rest { margin-top: 5%; }

.text_pizz { margin-top:2%; }

.img_lan { height:25%;
           width:75%;
           margin-top:10%; }
                       
.text_lan { margin-top:6%; }

ul li a { color:#bf190a; }

.p_lan { margin-top:5%; }

footer { clear: both;
         margin-top: 10%;}

.img_food { height: 20%;
            width: 80%; 
            margin-top: 10%; }

.text_food { margin-top: 3%; }



.navbar-default .navbar-nav>li>a {color:#bf190a; }
/*.navbar-default .navbar-nav>li */
.navbar-default .navbar-nav>.active>a:hover { color:#ffffff; }
/*.navbar-nav>li>a { padding: 10%; }*/


/*.navbar-nav>li>a { padding:20%; }*/

input { height: 10%;
        width: 60%; 
        margin-bottom: 2%; }

form { text-align: center;
        margin-top: 10%;}

textarea { height: 20%;
        width: 60%;
        margin-bottom: 2%; 
        }

.meu-btn { width: 10em; }

.centro { background-color: #bf190a; }
.centro ul li{
    text-align: left;
    margin-left: 5.2%;
}

.busca { margin-top: 5%;  }

.navbar-form .form-control { width: 140%;}



.cor_menu { color:#ffffff;
    
}

/*
 ul li a span { 
            text-transform:uppercase;            
            text-decoration:none;             
            font-size:.9em;         
            font-family:Arial; }
*/
.ativo { background-color: #ffffff; }

.ativo a span { color:#808080;}



